# -*- python -*-
# Configuration for the rpmlint utility.
# Loaded before ~/.rpmlintrc
#
# This line is mandatory to access the configuration functions
#
from Config import *
#
# Additional path to look for checks
#
#addCheckDir("~/annvix/rpmlint")

#
# define our valid groups
#
avx_valid_groups=(
	'Applications/System',
	'Archiving',
	'Communications',
	'Databases',
	'Development/C',
	'Development/C++',
	'Development/Databases',
	'Development/Kernel',
	'Development/Libraries',
	'Development/Other',
	'Development/PHP',
	'Development/Perl',
	'Development/Python',
	'Documentation',
	'Editors',
	'File Tools',
	'Graphics',
	'Monitoring',
	'Networking/File Transfer',
	'Networking/Mail',
	'Networking/Other',
	'Networking/Remote Access',
	'Networking/WWW',
	'Publishing',
	'Shells',
	'System',
	'System/Base',
	'System/Configuration',
	'System/Internationalization',
	'System/Kernel and hardware',
	'System/Libraries',
	'System/Servers',
	'System/X11',
	'Terminals',
	'Text Tools',
)


# Configuration options used by the checks
#
# vendor options
#
setOption('Vendor', 'Annvix')
setOption('Distribution', 'Annvix')
setOption('ReleaseExtension', 'avx')
#
# package-specific options
#
setOption('UseBzip2', 1)
setOption('Packager', '@annvix.org')
setOption('ValidBuildHost', 'annvix\.org$')
setOption('CrossCompilation', '-annvix-linux-[^/]+$')
setOption('SystemLibPaths', ('/lib', '/usr/lib', '/usr/X11R6/lib', '/usr/local/lib'))
setOption('ValidGroups',avx_valid_groups)
#
# Annvix-specific spec handling filters
#
addFilter('W: .* incoherent-version-in-changelog')
addFilter('E: .* no-signature')
addFilter('W: .* no-documentation')
# service-specific stuff
addFilter('E: .* non-standard-gid /var/service/.*')
addFilter('E: .* non-standard-gid-perm /var/service/.*')
addFilter('E: .* non-readable /var/service/.*/env/.*')
addFilter('E: .* executable-marked-as-config-file /var/service/.*/(run|finish)')
addFilter('E: .* non-standard-dir-perm /var/service/.* 0750')
addFilter('E: .* zero-length /var/service/.*/env/.*')
addFilter('E: .* non-readable /var/service/.*/(run|finish) 0740')
addFilter('E: .* non-standard-executable-perm /var/service/.*/(run|finish) 0740')
addFilter('W: .* non-standard-dir-in-var service')
addFilter('W: .* dangling-relative-symlink /var/service/.*/depends/.*')

#
# standard exceptions
#
addFilter('rootfiles non-etc-or-var-file-marked-as-conffile /root/.*')
addFilter('(rootfiles|etcskel) non-standard-dir-perm /(root|etc/skel)/tmp')
addFilter('rootfiles non-standard-dir-perm (/root|/etc/skel)/tmp')
addFilter('man(-[^ ]+)? non-standard-dir-perm /var/(X11R6/)?catman[^ ]+ 0775')
addFilter('man(-[^ ]+)? non-standard-dir-perm /usr/(X11R6/)?man/[^ ]+ 02755')
addFilter('W: filesystem dangling-relative-symlink /usr/lib/X11 ../X11R6/lib/X11')
addFilter('E: filesystem non-standard-dir-perm /usr/share/empty 0555')
addFilter('filesystem non-standard-dir-perm /var/lock/subsys 0775')
addFilter('filesystem non-standard-dir-perm /tmp 01777')
addFilter('filesystem non-standard-dir-perm /var/tmp 01777')
addFilter('filesystem (non-standard-dir-perm|dir-or-file-in-mnt) /mnt/(floppy|disk|cdrom)')
addFilter('filesystem non-standard-dir-perm /var/spool/mail 0775')
addFilter('filesystem non-standard-dir-perm /root 0750')
addFilter('filesystem non-standard-dir-perm /var/lock 0775')
addFilter('filesystem non-standard-dir-perm /proc 0555')
addFilter('filesystem dir-or-file-in-usr-local .*')
addFilter('.* dangling-relative-symlink /usr/bin/.*_config ../../usr/bin/multiarch-dispatch')
addFilter('.* subdir-in-bin /usr/bin/multiarch-i386-linux/.*_config')

addFilter('(binutils|dev86|compat-glibc|gcc|gcc-c\+\+|gcc-libgcj|gcc-objc|kernel-source.*|kernel-headers|ocaml|camlp4|XFree86-static-libs|doxygen|swi-prolog|perl-(PDL|DBI)) devel-file-in-non-devel-package')
addFilter('[^ ]+ devel-file-in-non-devel-package /usr/doc/.*\.h$')
addFilter('glibc-profile devel-file-in-non-devel-package .*\.a$')
addFilter('rpm statically-linked-binary (?:/usr/bin/rpm2cpio|/bin/rpm)')
addFilter('info-install info-dir-file /usr/share/info/dir')
addFilter('rpm dangerous-command-in-%post rpm')

#
# db
#
addFilter('db[1-3]-devel no-provides db-devel')
addFilter('db[12] incoherent-version-in-name')
#
# freetype
#
addFilter('freetype-devel no-major-in-name freetype-devel')
addFilter('freetype non-versioned-file-in-library-package')
addFilter('freetype incoherent-version-in-name 2')
#
# freetype2
#
addFilter('freetype2 incoherent-version-in-name 6')
#
# ocaml
#
addFilter('ocaml unstripped-binary-or-object /usr/bin/(ocamldebug|ocamlbrowser)')
#
# nfs
#
addFilter('nfs-utils-clients non-standard-dir-perm /var/lib/nfs/statd 0700')
#
# initscripts
#
addFilter('initscripts non-etc-or-var-file-marked-as-conffile /sbin/if(up|down)')
addFilter('initscripts (setuid|setgid)-binary (/usr/sbin/usernetctl|/sbin/netreport) root.*')
addFilter('initscripts non-standard-dir-perm /var/run/netreport 0775')
addFilter('initscripts no-(status|reload)-entry.*mandrake_(consmap|firstime|everytime).*')
addFilter('initscripts subsys-not-used.*mandrake_(consmap|firstime|everytime).*')
addFilter('initscripts subsys-not-used.*/etc/rc.d/init.d/(halt|rawdevices)')
addFilter('initscripts no-status-entry.*/etc/rc.d/init.d/(killall|halt|single).*')
addFilter('initscripts no-(status|reload)-entry.*/etc/rc.d/init.d/(killall|halt|functions|single).*')
addFilter('initscripts conffile-without-noreplace-flag /etc/rc.d/rc.*.d/.*(killall|halt|single|local|reboot)')
addFilter('initscripts non-conffile-in-etc /etc/locale/.*')
addFilter('initscripts (no-chkconfig-line|incoherent-subsys)')
addFilter('initscripts obsolete-not-provided (rhsound|sapinit)')
#
# pam
#
addFilter('pam devel-file-in-non-devel-package /lib/security/pam_unix_(session|passwd|acct|auth).so')
addFilter('shadow-utils non-standard-dir-perm /etc/default 0750')
addFilter('pam setuid-binary /sbin/(unix|pwdb)_chkpwd root 04(5|7)55')
addFilter('pam subdir-in-bin /sbin/pam_filter/upperLOWER')
addFilter('shadow-utils setuid-binary /usr/bin/(gpasswd|chage) root 04755')
#
# modutils
#
addFilter('module-init-tools hardcoded-library-path in .*/lib/modutils/macros')
#
# kernel
#
addFilter('kernel-headers dangling-symlink /usr/include/asm ../src/linux/include/asm')
addFilter('kernel-source dangling-symlink .*/linux/config.h ../pcmcia/config.h')
addFilter('reiserfs-utils dangling-symlink /sbin/fsck.reiserfs.*')
addFilter('reiserfsprogs dangling-relative-symlink /sbin/fsck.reiserfs ../bin/true')
addFilter('reiserfs-utils incoherent-version-in-changelog')
addFilter('kernel use-of-RPM_SOURCE_DIR')
addFilter('kernel-source zero-length .*\.stamp$')
addFilter('kernel-source hidden-file-or-dir .*\.depend$')
#
# glibc
#
addFilter('glibc shared-lib-without-dependency-information /lib/ld-.*so')
addFilter('glibc library-not-linked-against-libc /lib/libc-.*so')
addFilter('glibc statically-linked-binary /sbin/sln')
addFilter('glibc setuid-binary /usr/libexec/pt_chown root 04755')
addFilter('glibc invalid-soname /lib/libmemusage.so libmemusage.so')
addFilter('glibc invalid-soname /lib/libpcprofile.so libpcprofile.so')
addFilter('ldconfig statically-linked-binary /sbin/ldconfig')
#
# openssh
#
addFilter('openssh-clients dangling-symlink /usr/bin/ssh-askpass')
addFilter('openssh-clients setuid-binary /usr/bin/ssh root 04711')
#
# autoconf
#
addFilter('autoconf.* devel-file-in-non-devel-package /usr/share/autoconf/acconfig.h')
#
# shadow-utils
#
addFilter('shadow-utils dangling-relative-symlink /usr/bin/sg newgrp')
addFilter('shadow-utils non-readable /etc/default/useradd 0600')
#
# library policy exceptions
#
addFilter('(?:rpm|glibc|anonftp|pam|popt|egcs-c\+\+) .*in-library-package')
#
# mkinitrd
#
addFilter('mkinitrd statically-linked-binary /sbin/insmod-DIET')
addFilter('mkinitrd statically-linked-binary /sbin/nash')
#
# automake
#
addFilter('automake.* devel-file-in-non-devel-package /usr/share/automake.*/ansi2knr.c')
addFilter('automake.* obsolete-not-provided automake')
#
# gettext
#
addFilter('gettext-devel no-major-in-name gettext-devel')
#
# setup
#
addFilter('setup zero-length (/etc/motd|/var/log/lastlog|/etc/exports)')
#
# iptables
#
addFilter('iptables shared-lib-without-dependency-information /lib/iptables/')
#
# perl
#
addFilter('perl(-base)? no-depend[ae]ncy(-on)? perl')
addFilter('perl devel-file-in-non-devel-package /usr/lib/perl.*\.h')
#
# shorewall
#
addFilter('shorewall non-readable /etc/shorewall/.* 0600')
addFilter('shorewall non-standard-dir-perm /etc/shorewall 0700')
#
# rpm
#
addFilter('rpm postin-without-ghost-file-creation')
addFilter('rpm standard-dir-owned-by-package /var/lib/rpm')
#
# /etc/skel standard file
#
addFilter('etcskel hidden-file-or-dir /etc/skel/.mailcap')
#
# root preferences
#
addFilter('rootfiles hidden-file-or-dir /root/.*')
#
# ppp
#
addFilter('ppp non-readable /etc/ppp/chap-secrets 0600')
addFilter('ppp setuid-binary /usr/sbin/pppd root 05755')
addFilter('ppp non-readable /etc/ppp/pap-secrets 0600')
#
# postfix
#
addFilter('postfix(-[^ ]+)? non-standard-dir-perm /var/spool/postfix/(corrupt|trace|defer|deferred|flush|private|incoming|hold|bounce|active) 0700')
addFilter('postfix(-[^ ]+)? non-standard-dir-perm /var/spool/postfix/maildrop 0730')
addFilter('postfix(-[^ ]+)? non-standard-dir-perm /var/spool/postfix/public 0710')
addFilter('postfix(-[^ ]+)? non-standard-executable-perm /usr/sbin/post(drop|queue) 02755')
addFilter('postfix(-[^ ]+)? non-standard-gid /usr/sbin/post(drop|queue) postdrop')
addFilter('postfix(-[^ ]+)? non-standard-gid /var/spool/postfix/(public|maildrop) postdrop')
addFilter('postfix(-[^ ]+)? non-standard-uid /var/spool/postfix/([^ ]+) postfix')
addFilter('postfix(-[^ ]+)? setgid-binary /usr/sbin/post(drop|queue) postdrop 02755')
#
# devel-dependency wrong warnings
#
addFilter('gcc devel-dependency glibc-devel')
addFilter('gcc-c\+\+ devel-dependency libstdc\+\+5-devel')
addFilter('kernel-source devel-dependency glibc-devel')

#
# ANNVIX FILTERS
#

#
# SysVinit
#
addFilter('SysVinit setgid-binary /usr/bin/wall tty 02555')
addFilter('SysVinit non-standard-executable-perm /usr/bin/wall 02555')
addFilter('SysVinit dangerous-command-in-%post rm')
#
# afterboot
#
addFilter('afterboot non-standard-dir-perm /usr/share/afterboot 0700')
addFilter('afterboot non-readable /usr/share/afterboot/mkafterboot 0700')
addFilter('afterboot non-standard-executable-perm /usr/share/afterboot/mkafterboot 0700')
addFilter('afterboot postin-without-ghost-file-creation /usr/share/man/man8/afterboot.8.bz2')
#
# aide
#
addFilter('aide statically-linked-binary /usr/sbin/aide')
addFilter('aide non-readable /usr/sbin/aideinit 0700')
addFilter('aide non-standard-executable-perm /usr/sbin/aideinit 0700')
addFilter('aide non-standard-dir-perm /var/lib/aide 0700')
addFilter('aide non-readable /etc/aide.conf 0600')
addFilter('aide non-standard-dir-perm /var/lib/aide/reports 0700')
addFilter('aide non-readable /usr/sbin/aide 0700')
addFilter('aide non-standard-executable-perm /usr/sbin/aide 0700')
addFilter('aide non-readable /usr/sbin/aideupdate 0700')
addFilter('aide non-standard-executable-perm /usr/sbin/aideupdate 0700')
addFilter('aide non-readable /usr/sbin/aidecheck 0700')
addFilter('aide non-standard-executable-perm /usr/sbin/aidecheck 0700')
#
# am-utils
#
addFilter('am-utils hidden-file-or-dir /.automount')
addFilter('am-utils non-readable /etc/amd.conf 0600')
addFilter('am-utils non-readable /etc/amd.net 0640')
#
# annvix-ports
#
addFilter('annvix-ports non-standard-uid /usr/local/ports/.* builder')
addFilter('annvix-ports non-standard-gid /usr/local/ports/.* builder')
addFilter('annvix-ports non-standard-gid /usr/local/ports/.* admin')
addFilter('annvix-ports non-standard-gid /usr/bin/builder admin')
addFilter('annvix-ports dir-or-file-in-usr-local /usr/local/ports.*')
addFilter('annvix-ports non-standard-executable-perm .* 0750')
addFilter('annvix-ports non-standard-dir-perm .* 0775')
addFilter('annvix-ports non-readable .* 0750')
addFilter('annvix-ports non-standard-dir-perm /usr/local/ports/override 01775')
addFilter('annvix-ports non-standard-dir-perm /usr/local/ports/ports 02775')
addFilter('annvix-ports percent-in-%post')
#
# ash
#
addFilter('ash no-url-tag')
addFilter('ash statically-linked-binary /sbin/bsh')
addFilter('ash invalid-shell-in-%post /bin/ash')
addFilter('ash invalid-shell-in-%preun /bin/ash')
#
# rpm-helper
#
addFilter('rpm-helper non-conffile-in-etc /etc/rpm/macros.d/rpm-helper.macros')
#
# bison
#
addFilter('bison devel-file-in-non-devel-package /usr/share/bison/.*.c')
#
# bash
#
addFilter('bash hidden-file-or-dir /etc/skel/.bash(rc|_profile|_logout)')
addFilter('bash hidden-file-or-dir /usr/share/man/man1/..1.bz2')
#
# httpd*
#
addFilter('httpd-common non-standard-uid /var/cache/httpd apache')
addFilter('httpd-common non-standard-dir-perm /var/cache/httpd 0700')
addFilter('httpd-devel only-non-binary-in-usr-lib')
addFilter('httpd-devel symlink-should-be-absolute /etc/httpd/build ../../../usr/lib/httpd/build')
addFilter('httpd-devel script-without-shellbang /usr/lib/httpd/build/envvars')
addFilter('httpd-devel script-without-shellbang /usr/sbin/envvars-std')
addFilter('httpd-mod_dav non-standard-uid /var/lib/dav apache')
addFilter('httpd-mod_dav non-standard-gid /var/lib/dav apache')
addFilter('httpd-mod_ldap non-standard-uid /var/cache/httpd/mod_ldap_cache apache')
addFilter('httpd-mod_ldap non-readable /var/cache/httpd/mod_ldap_cache 0600')
addFilter('httpd-mod_proxy non-standard-gid /var/cache/httpd/mod_proxy apache')
addFilter('httpd-mod_proxy non-standard-dir-perm /var/cache/httpd/mod_proxy 0770')
addFilter('httpd-mod_ssl non-standard-uid /var/cache/httpd/mod_ssl/scache.dir apache')
addFilter('httpd-mod_ssl non-readable /var/cache/httpd/mod_ssl/scache.dir 0600')
addFilter('httpd-mod_ssl non-standard-uid /var/cache/httpd/mod_ssl/scache.sem apache')
addFilter('httpd-mod_ssl non-readable /var/cache/httpd/mod_ssl/scache.sem 0600')
addFilter('httpd-mod_ssl non-standard-uid /var/cache/httpd/mod_ssl apache')
addFilter('httpd-mod_ssl non-standard-dir-perm /var/cache/httpd/mod_ssl 0700')
addFilter('httpd-mod_ssl non-standard-uid /var/cache/httpd/mod_ssl/scache.pag apache')
addFilter('httpd-mod_ssl non-readable /var/cache/httpd/mod_ssl/scache.pag 0600')
addFilter('httpd-modules wrong-script-interpreter /usr/lib/httpd/httpd.exp "."')
addFilter('httpd-modules non-executable-script /usr/lib/httpd/httpd.exp 0644')
#
# subversion
#
addFilter('subversion-server executable-in-library-package /usr/bin/svn.*')
addFilter('subversion-server non-versioned-file-in-library-package /var/lib/svn.*')
addFilter('subversion-server non-versioned-file-in-library-package /usr/share/man/.*')
addFilter('subversion-server non-versioned-file-in-library-package /var/service/.*')
addFilter('subversion-server non-standard-uid /var/lib/svn.* svn')
addFilter('subversion-server non-standard-gid /var/lib/svn.* svn')
addFilter('subversion-server non-standard-dir-perm /var/lib/svn/repositories 0770')
addFilter('subversion-server non-readable /var/service/svn/peers/0 0640')
addFilter('subversion-server zero-length /var/service/svn/peers/0')
addFilter('subversion-server non-standard-dir-perm /var/lib/svn 0770')
addFilter('subversion executable-in-library-package /usr/bin/.*')
addFilter('subversion non-versioned-file-in-library-package /usr/(share|bin)/.*')
#
# php*
#
addFilter('php-gd no-dependency-on locales-gd')
addFilter('php-ini no-binary')
addFilter('php-ini dir-or-file-in-tmp /var/tmp/php_sessions')
addFilter('php-ini non-standard-dir-perm /var/tmp/php_sessions 01777')
addFilter('php-pear hidden-file-or-dir /usr/share/pear/.(registry|channels|filemap)')
addFilter('php-pear non-executable-script /usr/share/pear/tests/DB/tests/.*run.cvs 0644')
addFilter('php-devel script-without-shellbang /usr/src/php-devel/.*')
addFilter('php-devel non-executable-script /usr/src/php-devel/.*')
addFilter('php-devel wrong-script-end-of-line-encoding /usr/src/php-devel/.*')
addFilter('php-devel wrong-script-interpreter /usr/src/php-devel/.*')
addFilter('php-devel zero-length /usr/src/php-devel/extensions/.*/EXPERIMENTAL')
addFilter('php-devel dangling-relative-symlink /usr/lib/php/build/libtool ../../../bin/libtool')
addFilter('E: php-doc script-without-shellbang /usr/share/doc/php-doc.*')
#
# mysql
#
addFilter('mysql obsolete-not-provided MySQL.*')
addFilter('mysql non-standard-uid /var/(lib|log|run)/mysql.* mysql')
addFilter('mysql non-standard-gid /var/(lib|log|run)/mysql.* mysql')
addFilter('mysql non-standard-dir-perm /var/lib/mysql.* 0711')
addFilter('mysql hidden-file-or-dir /var/lib/mysql/.tmp')
addFilter('mysql non-executable-script /usr/share/mysql/mi_test_all 0644')
addFilter('mysql non-standard-executable-perm /var/service/mysqld/env/.* 0740')
addFilter('mysql executable-marked-as-config-file /var/service/mysqld/env/.*')
addFilter('mysql script-without-shellbang /var/service/mysqld/env/.*')
addFilter('mysql non-executable-script /usr/share/mysql/binary-configure 0644')
addFilter('mysql non-readable /var/service/mysqld/.* 0740')
addFilter('mysql-client obsolete-not-provided MySQL-client')
addFilter('mysql-doc script-without-shellbang /usr/share/doc/mysql-doc-4.1.14/README.sql-bench')
addFilter('mysql-bench wrong-script-end-of-line-encoding /usr/share/sql-bench/.*')
addFilter('mysql-bench obsolete-not-provided MySQL-bench')
addFilter('mysql-bench script-without-shellbang /usr/share/sql-bench/graph-compare-results')
addFilter('mysql-bench non-executable-script /usr/share/mysql-test/t/backup-master.sh 0644')
#
# cups
#
addFilter('cups script-without-shellbang /usr/share/cups/model/.*ppd')
addFilter('cups non-standard-dir-perm /var/spool/cups 0710')
addFilter('cups non-standard-dir-perm /var/cache/cups 0775')
addFilter('cups non-standard-dir-perm /var/spool/cups/tmp 01700')
addFilter('cups non-readable /usr/lib/cups/backend/ipp 0700')
addFilter('cups non-readable /etc/cups/cupsd.conf.* 0640')
addFilter('cups non-conffile-in-etc /etc/cups/cupsd.conf.default')
addFilter('cups postin-without-ghost-file-creation /etc/cups/.*.conf')
addFilter('cups non-standard-dir-perm /var/run/cups/certs 0511')
addFilter('cups non-readable /usr/lib/cups/backend/lpd 0700')
addFilter('cups non-standard-executable-perm /usr/lib/cups/backend/(ipp|lpd) 0700')
#
# python
#
addFilter('python(-base)? no-depend[ae]ncy(-on)? python')
addFilter('python non-executable-script /usr/lib/python2.4/.*py 0644')
addFilter('libpython.*-devel non-executable-script /usr/lib/python2.4/test/.*py 0644')
addFilter('libpython.*-devel wrong-script-interpreter /usr/lib/python2.4/test/.*py .*')
addFilter('libpython.*-devel script-without-shellbang /usr/lib/python2.4/test/.*py')
addFilter('libpython.*-devel python-naming-policy-not-applied /usr/lib/python2.4/config')
addFilter('libpython.*-devel wrong-script-end-of-line-encoding /usr/lib/python2.4/test/.*py')
#
# passwd
#
addFilter('passwd explicit-lib-dependency libuser')
addFilter('passwd unstripped-binary-or-object /usr/bin/passwd')
addFilter('passwd setuid-binary /usr/bin/passwd root 04511')
addFilter('passwd non-standard-executable-perm /usr/bin/passwd 04511')
#
# libneon
#
addFilter('libneon.*-devel subdir-in-bin /usr/bin/multiarch-i386-linux/neon-config')
addFilter('libneon.*-devel dangling-relative-symlink /usr/bin/neon-config ../../usr/bin/multiarch-dispatch')
#
# postgresql
#
addFilter('postgresql-devel no-major-in-name postgresql-devel')
addFilter('postgresql-pl no-dependency-on locales-pl')
addFilter('postgresql-(server|test) non-standard-uid .* postgres')
addFilter('postgresql-(server|test) non-standard-gid .* postgres')
addFilter('postgresql-server non-standard-dir-perm /var/lib/pgsql 0700')
addFilter('postgresql-server non-standard-dir-perm /var/lib/pgsql/data 0700')
addFilter('postgresql-server non-standard-dir-perm /var/lib/pgsql/backups 0700')
addFilter('postgresql-server hidden-file-or-dir /var/lib/pgsql/.bashrc')

# config ends here

