# -*- python -*-
# Configuration for the rpmlint utility.
# Loaded before ~/.rpmlintrc
#
# This line is mandatory to access the configuration functions
#
from Config import *
#
# Additional path to look for checks
#
#addCheckDir("~/annvix/rpmlint")

#
# define our valid groups
#
avx_valid_groups=(
	'Applications/System',
	'Archiving',
	'Communications',
	'Databases',
	'Development/C',
	'Development/C++',
	'Development/Databases',
	'Development/Kernel',
	'Development/Libraries',
	'Development/Other',
	'Development/PHP',
	'Development/Perl',
	'Development/Python',
	'Documentation',
	'Editors',
	'File Tools',
	'Graphics',
	'Monitoring',
	'Networking/File Transfer',
	'Networking/Mail',
	'Networking/Other',
	'Networking/Remote Access',
	'Networking/WWW',
	'Publishing',
	'Shells',
	'System',
	'System/Base',
	'System/Configuration/Boot',
	'System/Configuration/Hardware',
	'System/Configuration/Networking',
	'System/Configuration/Other',
	'System/Configuration/Packaging',
	'System/Configuration/Printing',
	'System/Internationalization',
	'System/Kernel',
	'System/Libraries',
	'System/Servers',
	'System/X11',
	'Terminals',
	'Text Tools',
)


# Configuration options used by the checks
#
# vendor options
#
setOption('Vendor', 'Annvix')
setOption('Distribution', 'Annvix')
setOption('ReleaseExtension', 'avx')
#
# package-specific options
#
setOption('UseBzip2', 1)
setOption('Packager', '@annvix.org')
setOption('ValidBuildHost', 'annvix\.org$')
setOption('CrossCompilation', '-annvix-linux-[^/]+$')
setOption('SystemLibPaths', ('/lib', '/usr/lib', '/usr/X11R6/lib', '/usr/local/lib'))
setOption('ValidGroups',avx_valid_groups)
#
# Annvix-specific spec handling filters
#
addFilter('W: .* incoherent-version-in-changelog')
addFilter('E: .* no-signature')

#
# standard exceptions taken from Mandriva
#
addFilter('rootfiles non-etc-or-var-file-marked-as-conffile /root/.*')
addFilter('(rootfiles|etcskel) non-standard-dir-perm /(root|etc/skel)/tmp')
addFilter('rootfiles non-standard-dir-perm (/root|/etc/skel)/tmp')
addFilter('man(-[^ ]+)? non-standard-dir-perm /var/(X11R6/)?catman[^ ]+ 0775')
addFilter('man(-[^ ]+)? non-standard-dir-perm /usr/(X11R6/)?man/[^ ]+ 02755')
addFilter('W: filesystem dangling-relative-symlink /usr/lib/X11 ../X11R6/lib/X11')
addFilter('E: filesystem non-standard-dir-perm /usr/share/empty 0555')
addFilter('filesystem non-standard-dir-perm /var/lock/subsys 0775')
addFilter('filesystem non-standard-dir-perm /tmp 01777')
addFilter('filesystem non-standard-dir-perm /var/tmp 01777')
addFilter('filesystem (non-standard-dir-perm|dir-or-file-in-mnt) /mnt/(floppy|disk|cdrom)')
addFilter('filesystem non-standard-dir-perm /var/spool/mail 0775')
addFilter('filesystem non-standard-dir-perm /root 0750')
addFilter('filesystem non-standard-dir-perm /var/lock 0775')
addFilter('filesystem non-standard-dir-perm /proc 0555')
addFilter('filesystem dir-or-file-in-usr-local .*')

addFilter('(binutils|dev86|compat-glibc|gcc|gcc-c\+\+|gcc-libgcj|gcc-objc|kernel-source.*|kernel-headers|ocaml|camlp4|XFree86-static-libs|doxygen|swi-prolog|perl-(PDL|DBI)) devel-file-in-non-devel-package')
addFilter('[^ ]+ devel-file-in-non-devel-package /usr/doc/.*\.h$')
addFilter('glibc-profile devel-file-in-non-devel-package .*\.a$')
addFilter('rpm statically-linked-binary (?:/usr/bin/rpm2cpio|/bin/rpm)')
addFilter('info-install info-dir-file /usr/share/info/dir')
addFilter('rpm dangerous-command-in-%post rpm')

#
# db
#
addFilter('db[1-3]-devel no-provides db-devel')
addFilter('db[12] incoherent-version-in-name')
#
# freetype
#
addFilter('freetype-devel no-major-in-name freetype-devel')
addFilter('freetype non-versioned-file-in-library-package')
addFilter('freetype incoherent-version-in-name 2')
#
# freetype2
#
addFilter('freetype2 incoherent-version-in-name 6')
#
# ocaml
#
addFilter('ocaml unstripped-binary-or-object /usr/bin/(ocamldebug|ocamlbrowser)')
#
# nfs
#
addFilter('nfs-utils-clients non-standard-dir-perm /var/lib/nfs/statd 0700')
#
# initscripts
#
addFilter('initscripts non-etc-or-var-file-marked-as-conffile /sbin/if(up|down)')
addFilter('initscripts (setuid|setgid)-binary (/usr/sbin/usernetctl|/sbin/netreport) root.*')
addFilter('initscripts non-standard-dir-perm /var/run/netreport 0775')
addFilter('initscripts no-(status|reload)-entry.*mandrake_(consmap|firstime|everytime).*')
addFilter('initscripts subsys-not-used.*mandrake_(consmap|firstime|everytime).*')
addFilter('initscripts subsys-not-used.*/etc/rc.d/init.d/(halt|rawdevices)')
addFilter('initscripts no-status-entry.*/etc/rc.d/init.d/(killall|halt|single).*')
addFilter('initscripts no-(status|reload)-entry.*/etc/rc.d/init.d/(killall|halt|functions|single).*')
addFilter('initscripts conffile-without-noreplace-flag /etc/rc.d/rc.*.d/.*(killall|halt|single|local|reboot)')
addFilter('initscripts non-conffile-in-etc /etc/locale/.*')
addFilter('initscripts (no-chkconfig-line|incoherent-subsys)')
addFilter('initscripts obsolete-not-provided (rhsound|sapinit)')
#
# pam
#
addFilter('pam devel-file-in-non-devel-package /lib/security/pam_unix_(session|passwd|acct|auth).so')
addFilter('shadow-utils non-standard-dir-perm /etc/default 0750')
addFilter('pam setuid-binary /sbin/(unix|pwdb)_chkpwd root 04(5|7)55')
addFilter('pam subdir-in-bin /sbin/pam_filter/upperLOWER')
addFilter('shadow-utils setuid-binary /usr/bin/(gpasswd|chage) root 04755')
#
# modutils
#
addFilter('module-init-tools hardcoded-library-path in .*/lib/modutils/macros')
#
# kernel
#
addFilter('kernel-headers dangling-symlink /usr/include/asm ../src/linux/include/asm')
addFilter('kernel-source dangling-symlink .*/linux/config.h ../pcmcia/config.h')
addFilter('reiserfs-utils dangling-symlink /sbin/fsck.reiserfs.*')
addFilter('reiserfsprogs dangling-relative-symlink /sbin/fsck.reiserfs ../bin/true')
addFilter('reiserfs-utils incoherent-version-in-changelog')
addFilter('kernel use-of-RPM_SOURCE_DIR')
addFilter('kernel-source zero-length .*\.stamp$')
addFilter('kernel-source hidden-file-or-dir .*\.depend$')
#
# glibc
#
addFilter('glibc shared-lib-without-dependency-information /lib/ld-.*so')
addFilter('glibc library-not-linked-against-libc /lib/libc-.*so')
addFilter('glibc statically-linked-binary /sbin/sln')
addFilter('glibc setuid-binary /usr/libexec/pt_chown root 04755')
addFilter('glibc invalid-soname /lib/libmemusage.so libmemusage.so')
addFilter('glibc invalid-soname /lib/libpcprofile.so libpcprofile.so')
addFilter('ldconfig statically-linked-binary /sbin/ldconfig')
#
# openssh
#
addFilter('openssh-clients dangling-symlink /usr/bin/ssh-askpass')
addFilter('openssh-clients setuid-binary /usr/bin/ssh root 04711')
#
# autoconf
#
addFilter('autoconf devel-file-in-non-devel-package /usr/share/autoconf/acconfig.h')
#
# shadow-utils
#
addFilter('shadow-utils dangling-relative-symlink /usr/bin/sg newgrp')
addFilter('shadow-utils non-readable /etc/default/useradd 0600')
#
# library policy exceptions
#
addFilter('(?:rpm|glibc|anonftp|pam|popt|egcs-c\+\+) .*in-library-package')
#
# mkinitrd
#
addFilter('mkinitrd statically-linked-binary /sbin/insmod-DIET')
addFilter('mkinitrd statically-linked-binary /sbin/nash')
#
# automake
#
addFilter('automake devel-file-in-non-devel-package /usr/share/automake/ansi2knr.c')
#
# gettext
#
addFilter('gettext-devel no-major-in-name gettext-devel')
#
# setup
#
addFilter('setup zero-length (/etc/motd|/var/log/lastlog|/etc/exports)')
#
# iptables
#
addFilter('iptables shared-lib-without-dependency-information /lib/iptables/')
#
# python
#
addFilter('python(-base)? no-depend[ae]ncy(-on)? python')
#
# perl
#
addFilter('perl(-base)? no-depend[ae]ncy(-on)? perl')
addFilter('perl devel-file-in-non-devel-package /usr/lib/perl.*\.h')
#
# shorewall
#
addFilter('shorewall non-readable /etc/shorewall/.* 0600')
addFilter('shorewall non-standard-dir-perm /etc/shorewall 0700')
#
# rpm
#
addFilter('rpm postin-without-ghost-file-creation')
addFilter('rpm standard-dir-owned-by-package /var/lib/rpm')
#
# /etc/skel standard file
#
addFilter('bash hidden-file-or-dir /etc/skel/.bash(rc|_profile|_logout)')
addFilter('etcskel hidden-file-or-dir /etc/skel/.mailcap')
#
# root preferences
#
addFilter('rootfiles hidden-file-or-dir /root/.*')
#
# ppp
#
addFilter('ppp non-readable /etc/ppp/chap-secrets 0600')
addFilter('ppp setuid-binary /usr/sbin/pppd root 05755')
addFilter('ppp non-readable /etc/ppp/pap-secrets 0600')
#
# postfix
#
addFilter('postfix(-[^ ]+)? non-standard-dir-perm /var/spool/postfix/(corrupt|trace|defer|deferred|flush|private|incoming|hold|bounce|active) 0700')
addFilter('postfix(-[^ ]+)? non-standard-dir-perm /var/spool/postfix/maildrop 0730')
addFilter('postfix(-[^ ]+)? non-standard-dir-perm /var/spool/postfix/public 0710')
addFilter('postfix(-[^ ]+)? non-standard-executable-perm /usr/sbin/post(drop|queue) 02755')
addFilter('postfix(-[^ ]+)? non-standard-gid /usr/sbin/post(drop|queue) postdrop')
addFilter('postfix(-[^ ]+)? non-standard-gid /var/spool/postfix/(public|maildrop) postdrop')
addFilter('postfix(-[^ ]+)? non-standard-uid /var/spool/postfix/([^ ]+) postfix')
addFilter('postfix(-[^ ]+)? setgid-binary /usr/sbin/post(drop|queue) postdrop 02755')
#
# devel-dependency wrong warnings
#
addFilter('gcc devel-dependency glibc-devel')
addFilter('gcc-c\+\+ devel-dependency libstdc\+\+5-devel')
addFilter('kernel-source devel-dependency glibc-devel')


# config ends here
