# -*- python -*-
# Configuration for the rpmlint utility.
# Loaded before ~/.rpmlintrc

# This line is mandatory to access the configuration functions
from Config import *

# Additionale path to look for checks

#addCheckDir("~/annvix/rpmlint")

# Configure the checks if you don't want the default ones

#addCheck("FHSCheck")
#addCheck("BinariesCheck")

# Configuration options used by the checks

setOption("Vendor", "Annvix")
setOption("Distribution", "Annvix")
setOption("UseBzip2", 1)
setOption("ReleaseExtension", "avx")
setOption("SystemLibPaths", ("/lib", "/usr/lib", "/usr/X11R6/lib", "/usr/local/lib"))
setOption("Packager", "@annvix.org")
setOption("ValidBuildHost", "\.annvix\.org$")
setOption("CrossCompilation", "-annvix-linux-[^/]+$")
#setOption("ValidGroups", ("Group1", "Group2"))
#setOption("KernelModuleRPMsOK", 0)

# Output filters
# addFilter("E: .* no-signature")

# config ends here
