# This is an example mysql configuration file for medium-load systems
# generally based on support-files/my-medium.cnf (for systems with moderate
# amounts of memory).  This file doesn't include all available options to
# prevent it from being cluttered with useless stuff.

# Also look at the environment options for mysqld in /service/mysqld/env,
# particularly LOG, MYSQLD_OPTS, and DATADIR which will override anything
# set here

[mysqld]
datadir			= /var/lib/mysql
socket			= /var/lib/mysql/mysql.sock
skip-locking
key_buffer		= 16M
max_allowed_packet	= 1M
table_cache		= 64
sort_buffer_size	= 512K
net_buffer_length	= 8K
read_buffer_size	= 256K
read_rnd_buffer_size	= 512K
myisam_sort_buffer_size	= 8M
# this prevents mysqld from listening to a TCP/IP socket; if you chose
# to enable this you also need to modify /service/mysqld/env/MYSQLD_OPTS
skip-networking

# Uncomment the following if you are using InnoDB tables
#innodb_data_home_dir	= /var/lib/mysql/
#innodb_data_file_path	= ibdata1:10M:autoextend
#innodb_log_group_home_dir = /var/lib/mysql/
#innodb_log_arch_dir	= /var/lib/mysql/
# You can set .._buffer_pool_size up to 50 - 80 %
# of RAM but beware of setting memory usage too high
#innodb_buffer_pool_size = 16M
#innodb_additional_mem_pool_size = 2M
# Set .._log_file_size to 25 % of buffer pool size
#innodb_log_file_size	= 5M
#innodb_log_buffer_size	= 8M
#innodb_flush_log_at_trx_commit = 1
#innodb_lock_wait_timeout = 50


[isamchk]
key_buffer 		= 20M
sort_buffer_size 	= 20M
read_buffer 		= 2M
write_buffer 		= 2M


[myisamchk]
key_buffer 		= 20M
sort_buffer_size 	= 20M
read_buffer 		= 2M
write_buffer 		= 2M


[mysql.server]
user			= mysql
basedir			= /var/lib


[mysqld_safe]
err-log			= /var/log/mysqld/mysqld.log
pid-file		= /var/run/mysqld/mysqld.pid
