# -*- python -*-
# Configuration for the rpmlint utility.
# Loaded before ~/.rpmlintrc
#
# $Id$
#
# This line is mandatory to access the configuration functions
#
from Config import *
#
# Additional path to look for checks
#
#addCheckDir("~/annvix/rpmlint")

#
# define our valid groups
#
avx_valid_groups=(
	'Applications/System',
	'Archiving',
	'Communications',
	'Databases',
	'Development/C',
	'Development/C++',
	'Development/Databases',
	'Development/Kernel',
	'Development/Libraries',
	'Development/Other',
	'Development/PHP',
	'Development/Perl',
	'Development/Python',
	'Documentation',
	'Editors',
	'File Tools',
	'Graphics',
	'Monitoring',
	'Networking/File Transfer',
	'Networking/Mail',
	'Networking/Other',
	'Networking/Remote Access',
	'Networking/WWW',
	'Publishing',
	'Shells',
	'System',
	'System/Base',
	'System/Configuration',
	'System/Internationalization',
	'System/Kernel and hardware',
	'System/Libraries',
	'System/Servers',
	'System/X11',
	'Terminals',
	'Text Tools',
)


# Configuration options used by the checks
#
# vendor options
#
setOption('Vendor', 'Annvix')
setOption('Distribution', 'Annvix')
setOption('ReleaseExtension', 'avx')
#
# package-specific options
#
setOption('UseBzip2', 1)
setOption('Packager', '@annvix.org')
setOption('ValidBuildHost', 'annvix\.org$')
setOption('CrossCompilation', '-annvix-linux-[^/]+$')
setOption('SystemLibPaths', ('/lib', '/usr/lib', '/usr/X11R6/lib', '/usr/local/lib'))
setOption('ValidGroups',avx_valid_groups)
#
# Annvix-specific spec handling filters
#
addFilter('W: .* incoherent-version-in-changelog')
addFilter('W: .* no-documentation')
addFilter('W: .* mixed-use-of-spaces-and-tabs')
addFilter('E: .* use-of-RPM_SOURCE_DIR')
addFilter('E: .* non-standard-gid .* admin')
addFilter('E: .* non-standard-dir-perm /.* 0750')
addFilter('E: .* non-standard-dir-perm /.* 0700')
addFilter('E: .* non-standard-executable-perm /.* 0750')
addFilter('E: .* non-standard-executable-perm /.* 0700')
addFilter('E: .* non-readable /.*(bin|sbin)/.* 0750')
addFilter('E: .* non-readable /.*(bin|sbin)/.* 0700')
addFilter('E: .* non-readable /.* 0640')
addFilter('E: .* non-readable /.* 0600')
# service-specific stuff
addFilter('E: .* non-standard-gid /var/service/.*')
addFilter('E: .* non-standard-gid-perm /var/service/.*')
addFilter('E: .* non-readable /var/service/.*/env/.*')
addFilter('E: .* executable-marked-as-config-file /var/service/.*/(run|finish)')
addFilter('E: .* zero-length /var/service/.*/env/.*')
addFilter('E: .* non-readable /var/service/.*/(run|finish) 0740')
addFilter('E: .* non-standard-executable-perm /var/service/.*/(run|finish) 0740')
addFilter('W: .* non-standard-dir-in-var service')
addFilter('W: .* dangling-relative-symlink /var/service/.*/depends/.*')

#
# standard exceptions
#
addFilter('rootfiles non-etc-or-var-file-marked-as-conffile /root/.*')
addFilter('(rootfiles|etcskel) non-standard-dir-perm /(root|etc/skel)/tmp')
addFilter('rootfiles non-standard-dir-perm (/root|/etc/skel)/tmp')
addFilter('man(-[^ ]+)? non-standard-dir-perm /var/(X11R6/)?catman[^ ]+ 0775')
addFilter('man(-[^ ]+)? non-standard-dir-perm /usr/(X11R6/)?man/[^ ]+ 02755')
addFilter('W: filesystem dangling-relative-symlink /usr/lib/X11 ../X11R6/lib/X11')
addFilter('E: filesystem non-standard-dir-perm /usr/share/empty 0555')
addFilter('filesystem non-standard-dir-perm /var/lock/subsys 0775')
addFilter('filesystem non-standard-dir-perm /tmp 01777')
addFilter('filesystem non-standard-dir-perm /var/tmp 01777')
addFilter('filesystem (non-standard-dir-perm|dir-or-file-in-mnt) /mnt/(floppy|disk|cdrom)')
addFilter('filesystem non-standard-dir-perm /var/spool/mail 0775')
addFilter('filesystem non-standard-dir-perm /root 0750')
addFilter('filesystem non-standard-dir-perm /var/lock 0775')
addFilter('filesystem non-standard-dir-perm /proc 0555')
addFilter('filesystem dir-or-file-in-usr-local .*')
addFilter('.* dangling-relative-symlink /usr/bin/.*config ../../usr/bin/multiarch-dispatch')
addFilter('.* dangling-relative-symlink /usr/bin/.*config.sh ../../usr/bin/multiarch-dispatch')
addFilter('.* subdir-in-bin /usr/bin/multiarch-i386-linux/.*config')
addFilter('lib.*-devel no-dependency-on lib.*')
addFilter('lib.*-devel no-major-in-name lib.*-devel')
addFilter('lib.*-devel obsolete-not-provided lib.*-devel')

addFilter('(binutils|dev86|compat-glibc|gcc|gcc-c\+\+|gcc-libgcj|gcc-objc|kernel-source.*|kernel-headers|ocaml|camlp4|XFree86-static-libs|doxygen|swi-prolog|perl-(PDL|DBI)) devel-file-in-non-devel-package')
addFilter('[^ ]+ devel-file-in-non-devel-package /usr/doc/.*\.h$')
addFilter('glibc-profile devel-file-in-non-devel-package .*\.a$')
addFilter('info-install info-dir-file /usr/share/info/dir')

#
# db
#
addFilter('db[1-3]-devel no-provides db-devel')
addFilter('db[12] incoherent-version-in-name')
#
# freetype
#
addFilter('freetype-devel no-major-in-name freetype-devel')
addFilter('freetype non-versioned-file-in-library-package')
addFilter('freetype incoherent-version-in-name 2')
#
# freetype2
#
addFilter('freetype2 incoherent-version-in-name 6')
#
# initscripts
#
addFilter('initscripts non-etc-or-var-file-marked-as-conffile /sbin/if(up|down)')
addFilter('initscripts (setuid|setgid)-binary (/usr/sbin/usernetctl|/sbin/netreport) root.*')
addFilter('initscripts non-standard-dir-perm /var/run/netreport 0775')
addFilter('initscripts no-(status|reload)-entry.*mandrake_(consmap|firstime|everytime).*')
addFilter('initscripts subsys-not-used.*mandrake_(consmap|firstime|everytime).*')
addFilter('initscripts subsys-not-used.*/etc/rc.d/init.d/(halt|rawdevices)')
addFilter('initscripts no-status-entry.*/etc/rc.d/init.d/(killall|halt|single).*')
addFilter('initscripts no-(status|reload)-entry.*/etc/rc.d/init.d/(killall|halt|functions|single).*')
addFilter('initscripts conffile-without-noreplace-flag /etc/rc.d/rc.*.d/.*(killall|halt|single|local|reboot)')
addFilter('initscripts non-conffile-in-etc /etc/locale/.*')
addFilter('initscripts (no-chkconfig-line|incoherent-subsys)')
addFilter('initscripts obsolete-not-provided (rhsound|sapinit)')
#
# pam
#
addFilter('pam devel-file-in-non-devel-package /lib/security/pam_unix_(session|passwd|acct|auth).so')
addFilter('shadow-utils non-standard-dir-perm /etc/default 0750')
addFilter('pam setuid-binary /sbin/(unix|pwdb)_chkpwd root 04(5|7)55')
addFilter('pam subdir-in-bin /sbin/pam_filter/upperLOWER')
addFilter('shadow-utils setuid-binary /usr/bin/(gpasswd|chage) root 04755')
#
# modutils
#
addFilter('module-init-tools hardcoded-library-path in .*/lib/modutils/macros')
#
# kernel
#
addFilter('kernel-headers dangling-symlink /usr/include/asm ../src/linux/include/asm')
addFilter('kernel-source dangling-symlink .*/linux/config.h ../pcmcia/config.h')
addFilter('reiserfs-utils dangling-symlink /sbin/fsck.reiserfs.*')
addFilter('reiserfsprogs dangling-relative-symlink /sbin/fsck.reiserfs ../bin/true')
addFilter('reiserfs-utils incoherent-version-in-changelog')
addFilter('kernel use-of-RPM_SOURCE_DIR')
addFilter('kernel-source zero-length .*\.stamp$')
addFilter('kernel-source hidden-file-or-dir .*\.depend$')
#
# glibc
#
addFilter('glibc shared-lib-without-dependency-information /lib/ld-.*so')
addFilter('glibc library-not-linked-against-libc /lib/libc-.*so')
addFilter('glibc statically-linked-binary /sbin/sln')
addFilter('glibc setuid-binary /usr/libexec/pt_chown root 04755')
addFilter('glibc invalid-soname /lib/libmemusage.so libmemusage.so')
addFilter('glibc invalid-soname /lib/libpcprofile.so libpcprofile.so')
addFilter('ldconfig statically-linked-binary /sbin/ldconfig')
#
# openssh
#
addFilter('openssh unversioned-explicit-obsoletes (ssh|ssh-clients|sftp|ssh-server)')
addFilter('openssh setuid-binary /usr/lib/ssh/ssh-keysign root 04711')
addFilter('openssh non-standard-executable-perm /usr/lib/ssh/ssh-keysign 04711')
addFilter('openssh-clients dangling-symlink /usr/bin/ssh-askpass')
addFilter('openssh-clients setuid-binary /usr/bin/ssh root 04711')
addFilter('openssh-clients executable-marked-as-config-file /etc/profile.d/ssh-client.sh')
addFilter('openssh-clients executable-sourced-script /etc/profile.d/ssh-client.sh 0755')
addFilter('openssh-server zero-length /var/service/sshd/peers/0')
#
# autoconf
#
addFilter('autoconf.* devel-file-in-non-devel-package /usr/share/autoconf/acconfig.h')
#
# shadow-utils
#
addFilter('shadow-utils dangling-relative-symlink /usr/bin/sg newgrp')
#
# library policy exceptions
#
addFilter('(?:rpm|glibc|anonftp|pam|popt|egcs-c\+\+) .*in-library-package')
#
# mkinitrd
#
addFilter('mkinitrd statically-linked-binary /sbin/insmod-DIET')
addFilter('mkinitrd statically-linked-binary /sbin/nash')
#
# automake
#
addFilter('automake.* devel-file-in-non-devel-package /usr/share/automake.*/ansi2knr.c')
addFilter('automake.* obsolete-not-provided automake')
#
# gettext
#
addFilter('gettext-devel no-major-in-name gettext-devel')
#
# setup
#
addFilter('setup zero-length (/etc/motd|/var/log/lastlog|/etc/exports)')
#
# iptables
#
addFilter('iptables shared-lib-without-dependency-information /lib/iptables/')
#
# perl
#
addFilter('perl(-base)? no-depend[ae]ncy(-on)? perl')
addFilter('perl devel-file-in-non-devel-package /usr/lib/perl.*\.h')
#
# rpm
#
addFilter('rpm postin-without-ghost-file-creation')
addFilter('rpm standard-dir-owned-by-package /var/lib/rpm')
addFilter('rpm statically-linked-binary (?:/usr/bin/rpm2cpio|/bin/rpm)')
addFilter('rpm dangerous-command-in-%post rpm')
addFilter('rpm non-standard-(uid|gid) /(usr|var)/lib/rpm.* rpm')
addFilter('rpm non-standard-(uid|gid) /bin/rpm rpm')
addFilter('rpm non-standard-(uid|gid) /usr/bin/rpm.* rpm')
addFilter('rpm-build non-standard-(uid|gid) /usr/lib/rpm/.* rpm')
addFilter('rpm-build non-standard-(uid|gid) /usr/bin/rpmbuild rpm')
addFilter('rpm-build non-standard-dir-perm /override 01777')
addFilter('lib(64)?rpm.*-devel non-standard-(uid|gid) /usr/lib/rpm/.* rpm')
addFilter('lib(64)?rpm.*-devel non-standard-(uid|gid) /usr/bin/rpmgraph rpm')

#
# /etc/skel standard file
#
addFilter('etcskel hidden-file-or-dir /etc/skel/.mailcap')
#
# root preferences
#
addFilter('rootfiles hidden-file-or-dir /root/.*')
#
# ppp
#
addFilter('ppp setuid-binary /usr/sbin/pppd root 05755')
#
# postfix
#
addFilter('postfix(-[^ ]+)? non-standard-dir-perm /var/spool/postfix/maildrop 0730')
addFilter('postfix(-[^ ]+)? non-standard-dir-perm /var/spool/postfix/public 0710')
addFilter('postfix(-[^ ]+)? non-standard-executable-perm /usr/sbin/post(drop|queue) 02755')
addFilter('postfix(-[^ ]+)? non-standard-gid /usr/sbin/post(drop|queue) postdrop')
addFilter('postfix(-[^ ]+)? non-standard-gid /var/spool/postfix/(public|maildrop) postdrop')
addFilter('postfix(-[^ ]+)? non-standard-uid /var/spool/postfix/([^ ]+) postfix')
addFilter('postfix(-[^ ]+)? setgid-binary /usr/sbin/post(drop|queue) postdrop 02755')
#
# devel-dependency wrong warnings
#
addFilter('gcc devel-dependency glibc-devel')
addFilter('gcc-c\+\+ devel-dependency libstdc\+\+5-devel')
addFilter('kernel-source devel-dependency glibc-devel')

#
# ANNVIX FILTERS
#

#
# SysVinit
#
addFilter('SysVinit setgid-binary /usr/bin/wall tty 02555')
addFilter('SysVinit non-standard-executable-perm /usr/bin/wall 02555')
addFilter('SysVinit dangerous-command-in-%post rm')
#
# afterboot
#
addFilter('afterboot postin-without-ghost-file-creation /usr/share/man/man8/afterboot.8.bz2')
#
# aide
#
addFilter('aide statically-linked-binary /usr/sbin/aide')
#
# am-utils
#
addFilter('am-utils hidden-file-or-dir /.automount')
#
# annvix-ports
#
addFilter('annvix-ports non-standard-uid /usr/local/ports/.* builder')
addFilter('annvix-ports non-standard-gid /usr/local/ports/.* builder')
addFilter('annvix-ports non-standard-gid /usr/local/ports/.* admin')
addFilter('annvix-ports non-standard-gid /usr/bin/builder admin')
addFilter('annvix-ports dir-or-file-in-usr-local /usr/local/ports.*')
addFilter('annvix-ports non-standard-executable-perm .* 0750')
addFilter('annvix-ports non-standard-dir-perm .* 0775')
addFilter('annvix-ports non-readable .* 0750')
addFilter('annvix-ports non-standard-dir-perm /usr/local/ports/override 01775')
addFilter('annvix-ports non-standard-dir-perm /usr/local/ports/ports 02775')
addFilter('annvix-ports percent-in-%post')
#
# ash
#
addFilter('ash no-url-tag')
addFilter('ash statically-linked-binary /sbin/bsh')
addFilter('ash invalid-shell-in-%post /bin/ash')
addFilter('ash invalid-shell-in-%preun /bin/ash')
#
# rpm-helper
#
addFilter('rpm-helper non-conffile-in-etc /etc/rpm/macros.d/rpm-helper.macros')
#
# bison
#
addFilter('bison devel-file-in-non-devel-package /usr/share/bison/.*.c')
#
# bash
#
addFilter('bash hidden-file-or-dir /etc/skel/.bash(rc|_profile|_logout)')
addFilter('bash hidden-file-or-dir /usr/share/man/man1/..1.bz2')
#
# httpd*
#
addFilter('httpd-common non-standard-uid /var/cache/httpd apache')
addFilter('httpd-devel only-non-binary-in-usr-lib')
addFilter('httpd-devel symlink-should-be-absolute /etc/httpd/build ../../../usr/lib/httpd/build')
addFilter('httpd-devel script-without-shellbang /usr/lib/httpd/build/envvars')
addFilter('httpd-devel script-without-shellbang /usr/sbin/envvars-std')
addFilter('httpd-mod_dav non-standard-uid /var/lib/dav apache')
addFilter('httpd-mod_dav non-standard-gid /var/lib/dav apache')
addFilter('httpd-mod_ldap non-standard-uid /var/cache/httpd/mod_ldap_cache apache')
addFilter('httpd-mod_proxy non-standard-gid /var/cache/httpd/mod_proxy apache')
addFilter('httpd-mod_proxy non-standard-dir-perm /var/cache/httpd/mod_proxy 0770')
addFilter('httpd-mod_ssl non-standard-uid /var/cache/httpd/mod_ssl/scache.dir apache')
addFilter('httpd-mod_ssl non-standard-uid /var/cache/httpd/mod_ssl/scache.sem apache')
addFilter('httpd-mod_ssl non-standard-uid /var/cache/httpd/mod_ssl apache')
addFilter('httpd-mod_ssl non-standard-uid /var/cache/httpd/mod_ssl/scache.pag apache')
addFilter('httpd-modules wrong-script-interpreter /usr/lib/httpd/httpd.exp "."')
addFilter('httpd-modules non-executable-script /usr/lib/httpd/httpd.exp 0644')
#
# subversion
#
addFilter('subversion-server executable-in-library-package /usr/bin/svn.*')
addFilter('subversion-server non-versioned-file-in-library-package /var/lib/svn.*')
addFilter('subversion-server non-versioned-file-in-library-package /usr/share/man/.*')
addFilter('subversion-server non-versioned-file-in-library-package /var/service/.*')
addFilter('subversion-server non-standard-uid /var/lib/svn.* svn')
addFilter('subversion-server non-standard-gid /var/lib/svn.* svn')
addFilter('subversion-server non-standard-dir-perm /var/lib/svn/repositories 0770')
addFilter('subversion-server zero-length /var/service/svn/peers/0')
addFilter('subversion-server non-standard-dir-perm /var/lib/svn 0770')
addFilter('subversion executable-in-library-package /usr/bin/.*')
addFilter('subversion non-versioned-file-in-library-package /usr/(share|bin)/.*')
addFilter('subversion-devel subdir-in-bin /usr/bin/multiarch-i386-linux/svn-config')
addFilter('subversion-devel dangling-relative-symlink /usr/bin/svn-config ../../usr/bin/multiarch-dispatch')
#
# php*
#
addFilter('php-gd no-dependency-on locales-gd')
addFilter('php-ini no-binary')
addFilter('php-ini dir-or-file-in-tmp /var/tmp/php_sessions')
addFilter('php-ini non-standard-dir-perm /var/tmp/php_sessions 01777')
addFilter('php-pear hidden-file-or-dir /usr/share/pear/.(registry|channels|filemap)')
addFilter('php-pear non-executable-script /usr/share/pear/.* 0644')
addFilter('php-devel script-without-shebang /usr/src/php-devel/.*')
addFilter('php-devel non-executable-script /usr/src/php-devel/.*')
addFilter('php-devel spurious-executable-perm /usr/src/php-devel/.*')
addFilter('php-devel wrong-script-end-of-line-encoding /usr/src/php-devel/.*')
addFilter('php-devel wrong-script-interpreter /usr/src/php-devel/.*')
addFilter('php-devel zero-length /usr/src/php-devel/extensions/.*/EXPERIMENTAL')
addFilter('php-devel dangling-relative-symlink /usr/lib/php/build/libtool ../../../bin/libtool')
addFilter('php-devel htaccess-file /usr/src/php-devel/extensions/spl/tests/.htaccess')
addFilter('php-devel no-dependency-on php')
addFilter('php-devel no-major-in-name php-devel')
addFilter('php-devel only-non-binary-in-usr-lib')
addFilter('php-devel uncompressed-zip /usr/src/php-devel/extensions/zip/tests/bug40228.zip')
addFilter('php-doc script-without-shellbang /usr/share/doc/php-doc.*')
addFilter('php-doc spurious-executable-perm /usr/share/doc/php-doc.*')
#
# mysql
#
addFilter('mysql obsolete-not-provided MySQL.*')
addFilter('mysql non-standard-uid /var/(lib|log|run)/mysql.* mysql')
addFilter('mysql non-standard-gid /var/(lib|log|run)/mysql.* mysql')
addFilter('mysql non-standard-dir-perm /var/lib/mysql.* 0711')
addFilter('mysql hidden-file-or-dir /var/lib/mysql/.tmp')
addFilter('mysql non-executable-script /usr/share/mysql/mi_test_all 0644')
addFilter('mysql non-standard-executable-perm /var/service/mysqld/env/.* 0740')
addFilter('mysql executable-marked-as-config-file /var/service/mysqld/env/.*')
addFilter('mysql script-without-shellbang /var/service/mysqld/env/.*')
addFilter('mysql non-executable-script /usr/share/mysql/binary-configure 0644')
addFilter('mysql non-readable /var/service/mysqld/.* 0740')
addFilter('mysql-client obsolete-not-provided MySQL-client')
addFilter('mysql-doc script-without-shellbang /usr/share/doc/mysql-doc-4.1.14/README.sql-bench')
addFilter('mysql-bench wrong-script-end-of-line-encoding /usr/share/sql-bench/.*')
addFilter('mysql-bench obsolete-not-provided MySQL-bench')
addFilter('mysql-bench script-without-shellbang /usr/share/sql-bench/graph-compare-results')
addFilter('mysql-bench non-executable-script /usr/share/mysql-test/t/backup-master.sh 0644')
#
# cups
#
addFilter('cups script-without-shebang /usr/share/cups/model/.*ppd')
addFilter('cups non-standard-dir-perm /var/spool/cups 0710')
addFilter('cups non-standard-dir-perm /var/cache/cups 0775')
addFilter('cups non-standard-dir-perm /var/spool/cups/tmp 01700')
addFilter('cups non-conffile-in-etc /etc/cups/cupsd.conf.default')
addFilter('cups postin-without-ghost-file-creation /etc/cups/.*.conf')
addFilter('cups non-standard-dir-perm /var/run/cups/certs 0511')
addFilter('cups non-standard-gid /var/(spool|run|cache)/cups.* sys')
addFilter('cups non-standard-gid /etc/cups.* sys')
addFilter('cups non-readable /usr/lib/cups/backend/.* 0700')
addFilter('cups set[ug]id-binary /usr/bin/lppasswd .* 06755')
addFilter('cups non-standard-executable-perm /usr/bin/lppasswd 06755')
addFilter('cups non-standard-gid /usr/bin/lppasswd sys')
#
# python
#
addFilter('python(-base)? no-depend[ae]ncy(-on)? python')
addFilter('python non-executable-script /usr/lib/python2.*/.*py 0644')
addFilter('libpython.*-devel non-executable-script /usr/lib/python2.*/test/.*py 0644')
addFilter('libpython.*-devel wrong-script-interpreter /usr/lib/python2.*/test/.*py .*')
addFilter('libpython.*-devel script-without-shellbang /usr/lib/python2.*/test/.*py')
addFilter('libpython.*-devel python-naming-policy-not-applied /usr/lib/python2.*/config')
addFilter('libpython.*-devel wrong-script-end-of-line-encoding /usr/lib/python2.*/test/.*py')
#
# passwd
#
addFilter('passwd explicit-lib-dependency libuser')
addFilter('passwd unstripped-binary-or-object /usr/bin/passwd')
addFilter('passwd setuid-binary /usr/bin/passwd root 04511')
addFilter('passwd non-standard-executable-perm /usr/bin/passwd 04511')
#
# libneon
#
addFilter('libneon.*-devel subdir-in-bin /usr/bin/multiarch-i386-linux/neon-config')
addFilter('libneon.*-devel dangling-relative-symlink /usr/bin/neon-config ../../usr/bin/multiarch-dispatch')
#
# postgresql
#
addFilter('postgresql-devel no-major-in-name postgresql-devel')
addFilter('postgresql-pl no-dependency-on locales-pl')
addFilter('postgresql-(server|test) non-standard-uid .* postgres')
addFilter('postgresql-(server|test) non-standard-gid .* postgres')
addFilter('postgresql-server hidden-file-or-dir /var/lib/pgsql/.bashrc')
#
# screen
#
addFilter('screen executable-marked-as-config-file /etc/profile.d/screen.sh')
addFilter('screen hidden-file-or-dir /etc/skel/.screenrc')
#
# vim
#
addFilter('vim-common devel-file-in-non-devel-package /usr/share/vim/.*.c')
#
# swig
#
addFilter('swig-doc wrong-file-end-of-line-encoding /usr/share/doc/swig-doc-.*/Examples/.*')
addFilter('swig-doc wrong-script-end-of-line-encoding /usr/share/doc/swig-doc-.*/Examples/.*')
addFilter('swig-doc wrong-script-interpreter /usr/share/doc/swig-doc-.*/(Examples|Manual)/.*')
addFilter('swig-doc script-without-shellbang /usr/share/doc/swig-doc-.*/Examples/.*')
#
# exim
#
addFilter('exim explicit-lib-dependency libdb4.1')
addFilter('exim only-non-binary-in-usr-lib')
addFilter('exim setuid-binary /usr/bin/exim root 04755')
addFilter('exim non-standard-executable-perm /usr/bin/exim 04755')
addFilter('exim executable-marked-as-config-file /etc/cron.weekly/exim.logrotate')
addFilter('exim non-standard-dir-perm /var/spool/exim.* 0750')
addFilter('exim non-standard-dir-perm /var/log/exim 0750')
addFilter('exim log-files-without-logrotate /var/log/exim')
#
# rsbac-admin
#
addFilter('rsbac-admin non-standard-(uid|gid) /var/lib/rsbac/tmp rsbadmin')
addFilter('rsbac-admin-doc script-without-shellbang /usr/share/doc/rsbac-admin-doc-1.2.7/examples/acl/acl_backup_my_groups')
#
# quota
#
addFilter('quota devel-file-in-non-devel-package /usr/include/rpcsvc/rquota.h')
#
# dump/rmt
#
addFilter('dump zero-length /etc/dumpdates')
addFilter('rmt dangling-relative-symlink /etc/rmt ../sbin/smt')
#
# apt
#
addFilter('apt devel-file-in-non-devel-package /usr/bin/apt-config')
#
# clamav
#
addFilter('clamav non-standard-(uid|gid) /var/(lib|run)/clamav clamav')
addFilter('clamav-db non-standard-(uid|gid) /var/lib/clamav.* clamav')
#
# snort
#
addFilter('snort non-standard-(uid|gid) /etc/snort snort')
addFilter('snort non-standard-(uid|gid) /var/(log|run)/snort snort')
addFilter('snort non-standard-(uid|gid) /var/log/snort/empty snort')
#
# ipsvd
#
addFilter('ipsvd statically-linked-binary /sbin/.*')
#
# bind
#
addFilter('bind non-standard-(uid|gid) .* named')
addFilter('bind non-standard-dir-perm /var/(lib|run)/named.* 0711')
#
# openldap
#
addFilter('openldap-servers non-standard-(uid|gid) .* ldap')
addFilter('openldap-clients non-standard-executable-perm /usr/bin/slapd.* 0555')
addFilter('libldap.* executable-in-library-package /usr/bin/slapd.*')
#
# man-pages
#
addFilter('man-pages executable-marked-as-config-file /etc/cron.weekly/makewhatis-en.cron')
#
# tetex
#
addFilter('tetex.* devel-file-in-non-devel-package .*')
addFilter('tetex.* non-executable-script .* 0644')
addFilter('tetex dir-or-file-in-usr-local /usr/local/share/texmf')
addFilter('tetex wrong-script-end-of-line-encoding /usr/share/texmf/tetex-src-3.0/utils/texinfo/djgpp/config.bat')
addFilter('tetex zero-length /usr/share/texmf/tetex-src-3.0/.*')
addFilter('tetex non-standard-dir-perm /var/lib/texmf 01777')
addFilter('tetex script-without-shebang /usr/share/texmf/tetex-src-3.0/.*')
addFilter('tetex wrong-script-interpreter /usr/share/texmf/tetex-src-3.0/.* "@BASH@"')
addFilter('tetex wrong-script-interpreter /usr/share/texmf/tetex-src-3.0/.* "@PERL@"')
addFilter('tetex(-dvips)? wrong-script-interpreter /usr/share/texmf/tetex-src-3.0/.* "/usr/local/bin/perl"')
addFilter('tetex wrong-script-interpreter /usr/share/texmf/tetex-src-3.0/.* "/usr/local/bin/gawk"')
addFilter('tetex-context dangling-relative-symlink /usr/bin/mptopdf texexec')
addFilter('tetex-dvilj hidden-file-or-dir /usr/share/texmf/tetex-src-3.0/texk/dviljk/.gdbinit')
addFilter('tetex-latex dangling-relative-symlink /usr/bin/(pdflatex|latex|hugelatex) pdfetex')
addFilter('tetex-latex dangling-relative-symlink /usr/bin/latexnoetex tex')
addFilter('tetex-latex dangling-relative-symlink /usr/share/man/man1/pdflatex.1.bz2 pdfetex.1.bz2')
addFilter('xmltex dangling-relative-symlink /usr/bin/(xmltex|pdfxmltex) pdfetex')
#
# tk
#
addFilter('libtk8.4-devel script-without-shebang /usr/lib/(tkConfig.sh|libtk.so)')
addFilter('tk only-non-binary-in-usr-lib')
addFilter('tk devel-file-in-non-devel-package /usr/lib/tk8.4/tkAppInit.c')
#
# perl-Tk
#
addFilter('perl-Tk script-without-shebang /usr/lib/perl5/vendor_perl/5.8.8/i386-linux/Tk/balArrow.xbm')
addFilter('perl-Tk script-without-shebang /usr/lib/perl5/vendor_perl/5.8.8/i386-linux/Tk/demos/(widget_lib/choosedir.pl|widtrib/plop.pl)')
#
# blt
#
addFilter('blt-doc wrong-script-interpreter /usr/share/doc/blt-doc-2.4z/.* "../(src/)?bltwish"')
addFilter('blt-doc wrong-file-end-of-line-encoding /usr/share/doc/blt-doc-2.4z/demos/images/out.ps')
addFilter('blt-scripts only-non-binary-in-usr-lib')
addFilter('libblt2 invalid-soname /usr/lib/libBLT(lite)?24.so libBLT(lite)?24.so')
addFilter('libblt2 devel-file-in-non-devel-package /usr/lib/libBLT(lite)?.so')
#
# courier-authlib
#
addFilter('courier-authlib library-without-ldconfig-postun /usr/lib/courier-authlib/.*')
addFilter('courier-authlib-devel dangling-relative-symlink /usr/lib/courier-authlib/.*')
addFilter('courier-authlib-devel no-major-in-name courier-authlib-devel')
# config ends here
